.header {
    background-image: url("../assets/backgrounds/h_img.jpg");
    text-align: center;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 5rem;
    margin-bottom: 40px;
    height: 800px;
}

h1 {
    margin-top: 40px;
    font-size: 50px;
}

h2 {
    text-align: center;
}

#logo {
    margin-top: 170px;
}

.aboutus {
    text-align: center;
}

.row {
    text-align: center;
}

.contact {
    background-image: url("../assets/backgrounds/c_image.jpg");
    color: white;
    background-size: cover;
}

#mouse {
    margin-top: 150px;
}

#footer {
    text-align: center;
}

.service {
    background-image: url("../assets/backgrounds/s_image.jpg");
    text-align: center;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10rem;
    margin-bottom: 40px;
    margin-top: 40px;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1480px;
    }
}

input[type=text],
input[type=email] {
    background: transparent;
    margin: 10px;
}

#textarea {
    background: transparent;
}

.social {
    text-align: center;
}

#design2 {
    display: none;
}

.work4 {
    position: relative;
}

.black {
    position: absolute;
    display: none;
    border: 2px solid white;
    border-top: 4px;
    text-align: center;
    color: black;
}

#dev2 {
    display: none;
}

#product2 {
    display: none;
}

.message-form {
    background: transparent;
    color: white;
}

.form-group {
    background: transparent;
    color: white;
}

#mce-FNAME,
#Mce-EMAIL,
#mce-MMERGE2 {
    background-color: transparent;
    color: white;
    border: 1px solid white;
}

::placeholder {
    color: white;
}

textarea {
    width: 75%;
}

h4 {
    background-color: white;
    margin: 10px 10px 10px 10px;
}
